body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
* {
  background-color: rgb(232, 232, 232);
}
.design {
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="color"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.error {
  color: red;
  font-size: 13px;
  margin: 5px 0 0;
}

input.error-border {
  border: 2px solid red;
}
